@import url(../style/fonts.css);


.footer {
  background: #3A3838;
  padding: 29px 0;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.footer__list {
  display: flex;
}

.footer__link {
  color: white;
  font-size: 18px;
  line-height: 21px;
  margin-right: 15px;
  font-family: 'rb';
  transition: color 500ms;
}

.footer__link:hover {
  color: #EF4423;
}

@media (max-width: 900px) {
	.footer__list {
		display: none;
	}
	.footer__logo {
		margin: 0 auto;
	}
}


