@import 'fonts.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'rr';
    text-align: center;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #FFF;
}

.header {
    background: white;
}

.logo {
    padding-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav__list {
    display: flex;
    padding-top: 43px;
    column-gap: 15px;
}

.nav__link {
    font-family: 'rb';
    font-size: 18px;
    line-height: 21px;
    color: #3A3838;
    transition: color 500ms;
}

.nav__link:hover {
    color: #EF4423;
}

.header__box {
    display: flex;
}

.header__box-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #B71C1C;
}

.header__box-second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #6A1B9A;
}

.header__box-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #303F9F;
}

.header__box-four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #00695C;
}

.header__box-miniBox {
    padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.header__miniBox-title {
    font-family: 'rb';
    font-size: 19px;
    line-height: 21px;
    color: white;
    text-align: left;
    margin-bottom: 9px;
}

.header__miniBox-text {
    font-size: 16px;
    line-height: 18px;
    color: white;    
    text-align: left;
}

